<p>Images</p>


<h2> Which image would you like to search? </h2>

<form action="/imageresults" method="get">
	<input type="text" name="image_name">
	<button>Go</button>
</form>

<form action="/imagerandom" method="get">
	<button>Random Image!</button>
</form>