
<div class="resubmit_button">
<form action="/imageresults" method="post">
	<input type="hidden" name="image_name" value="<%= params[:image_name]%>">
	<button id="resubmit_button_button" class="btn btn-inverse btn-small"> <i class="icon-repeat icon-white"> </i> Resubmit?</button>
</form>
</div>

<img src="<%= @imagesearch %>" />

