<!DOCTYPE.HTML> 
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Welcome to YOUR PLAYGROUND!!! WOO. Use the Navigation Bar to check out Movies, Stocks and Images.</h1>
</body>
</html>
