<!DOCTYPE.HTML> 
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div id="welcome" class="span6 offset4">
				<h1>Welcome to your PlayGround! Use the Navigation Bar to check out <em>Movies, Stocks</em> and <em>Images</em>.</h1>
			</div>
		</div>
	</div>
</body>
</html>
