<!DOCTYPE.HTML>
<html>
<head>
	 <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav>
		<ul>
			<li> <a href="/">Home</a></li>
			<li> <a href="/movies">Movies</a></li>
			<li> <a href="/stock">Stocks</a></li>
			<li> <a href="/image">Images</a></li>
		</ul>	
	</nav>

<%=yield%>
	
</body>
</html>