<!DOCTYPE.HTML>
<html>
<head>
	 <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="style.css">
	 <script type="text/javascript" src="js/jquery-1.10.1.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
	<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">PlayGround</a>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/stock">Stocks</a></li>
      <li><a href="/image">Images</a></li>
    </ul>
  </div>
	</div>

<%=yield%>
	
</body>
</html>